#gridContainer{
    width: 600px;
   /* max-width:30%;*/
    display:flex;
    flex-wrap:wrap;
    margin: auto;
 
}



.border{
    border: 1px solid black;
}

.cell{
    aspect-ratio: 1/1;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 5.8824%;
}